.form-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 15px;
}

label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: gray;
    transition: all 0.3s ease;
    pointer-events: none;
}

label.hidden {
    display: none;
}

input.input-style {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #6F1AB6;
    margin-top: 5px;
    margin-bottom: 10px;
}

input.input-style:focus + label {
    top: -20px;
    font-size: 12px;
    color: #512C62;
}

input.submit-style {
    width: 100%;
    background-color: #45969B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input.submit-style:hover {
    background-color: #008080;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-style {
    margin-right: 10px;
}

.checkbox-label {
    color: gray;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked + .checkbox-label {
    color: #3D1766;
}